Django==2.2.17
Pillow==8.1.0
Whoosh==2.7.4
django-filebrowser==3.13.2
django-grappelli==2.14.3
django-haystack==2.8.1
django-simple-captcha==0.5.12
django-tinymce==3.2.0
psycopg2-binary==2.8.6
pytz==2020.5
