{% extends 'base_internal.html' %}
{% load tz %}

{% block page_title %}Reviews | {% endblock %}
{% block body_classes %}section-review{% endblock %}

{% block body_content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% block main_title %}
            <h2>Reviews</h2>
            {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            {% for review in reviews %}
                {% block review_tile %}
                <div class="review-long">
                    {% if review.cover_image or review.production.poster or review.production.production_company.logo %}
                    <a href="{% url 'review_detail' slug=review.slug %}" class="thumbnail col-md-4 col-sm-5 col-xs-12">
                        {% if review.cover_image %}
                            <img src="{{ review.cover_image.url }}" alt="{{ review.get_title }}" />
                        {% elif review.production.poster %}
                            <img src="{{ review.production.poster.url }}" alt="{{ review.get_title }}" />
                        {% elif review.production.production_company.logo %}
                            <img src="{{ review.production.production_company.logo.url }}" alt="{{ review.get_title }}" />
                        {% endif %}
                    </a>
                    {% endif %}
                    <h4><a href="{% url 'review_detail' slug=review.slug %}">{{ review.get_title }}</a></h4>
                    <p>
                        <strong>by <a href="{% url 'reviewers' %}#{{ review.reviewer.full_name|slugify }}">{{ review.reviewer.full_name }}</a></strong><br />
                        <small>Published on {{ review.published_on|localtime|date:"F d, Y" }}</small>
                    </p>
                    {% if review.lede %}
                    <p><em>{{ review.lede }}</em></p>
                    {% endif %}

                    {{ review.content|removetags:"img iframe br div"|truncatewords_html:75|safe }}
                    <a href="{% url 'review_detail' slug=review.slug %}">Read&nbsp;more&nbsp;&raquo;</a></p>
                </div>
                {% endblock %}

            {% empty %}
                {% block no_reviews_message %}
                <p>No reviews!</p>
                {% endblock %}
            {% endfor %}

        </div>
    </div>

    {% if page.has_other_pages %}
    <div class="row">
        <div class="pagination col-md-12 text-center">
            <div class="pull-left">
                {% if page.has_previous %}
                <a href="?page={{ page.previous_page_number }}">
                    <span class="glyphicon glyphicon-backward small"></span> Newer Reviews
                </a>
                {% endif %}
            </div>

            Page {{ page.number }} of {{ page.paginator.num_pages }}

            <div class="pull-right">
                {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}">
                    Older Reviews <span class="glyphicon glyphicon-forward small"></span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}
