{% extends 'base_internal.html' %}

{% block meta_title %}{{ review.get_title }}{% endblock %}
{% block meta_description %}{{ review.content|truncatewords_html:80|striptags }}{% endblock %}

{% block page_title %}{{ review.get_title }} | {% endblock %}
{% block body_classes %}section-review{% endblock %}

{% block admin_edit_link %}{% url 'admin:base_review_change' review.id %}{% endblock %}

{% block main_title %}
<h2>{{ review.get_title }}<br />
<small>by <a href="{% url 'reviewers' %}#{{ review.reviewer.full_name|slugify }}">{{ review.reviewer }}</a></small>
</h2>
{% endblock %}

{% block article_content %}
{{ review.content|safe }}
<hr />
{% with production=review.production %}
    {% include 'snippets/production_details.html' %}
{% endwith %}
{% endblock %}

{% block extra_content %}
{% endblock %}


{% block sidebar_content %}

{% if review.production.poster %}
<a href="{% url 'production_detail' slug=review.production.slug %}" class="thumbnail">
    <img src="{{ review.production.poster.url }}" alt="{{ review.production.get_title }}" />
</a>
{% endif %}

{% if review.reviewer.bio %}
    {% with reviewer=review.reviewer %}
        {% include 'snippets/sidebar/about_reviewer.html' %}
    {% endwith %}
{% endif %}

{% if review.production.production_company %}
    {% with company=review.production.production_company %}
        {% include 'snippets/sidebar/about_company.html' %}
    {% endwith %}
{% endif %}

{% if company_productions %}
    {% with company=review.production.production_company exclude_production=review.production %}
        {% include 'snippets/sidebar/company_related/company_productions.html' %}
    {% endwith %}
{% endif %}

{% if recent_reviews.exists %}
    {% include 'snippets/sidebar/active/recent_reviews.html' %}
{% endif %}

{% include 'snippets/sidebar/contact.html' %}

{% endblock %}
