{% extends 'base_internal.html' %}

{% block meta_title %}{{ audition.get_title }}{% endblock %}
{% block meta_description %}{{ audition.content|truncatewords_html:80|striptags }}{% endblock %}

{% block body_classes %}section-audition{% endblock %}

{% block admin_edit_link %}{% url 'admin:base_audition_change' audition.id %}{% endblock %}

{% block page_title %}
    {% if audition.play and audition.production_company %}
        {{ audition.play.title }} by {{ audition.production_company.name }}
    {% else %}
        {{ audition.get_title }}
    {% endif %}
    | 
{% endblock %}
{% block main_title %}
<h2>
    {% if audition.play and audition.production_company %}
        {{ audition.play.title }}<br />
        <small>by <a href="{% url 'production_company' slug=audition.production_company.slug %}">{{ audition.production_company.name }}</a></small>
    {% else %}
        {{ audition.get_title }}
    {% endif %}
</h2>
{% endblock %}

{% block main_secondary_title %}
by {{ production.production_company.name }}
{% endblock %}

{% block main_terciary_title %}
<h3>{{ audition.duration }}</h3>
{% endblock %}

{% block article_content %}
{% if audition.content %}
{{ audition.content|safe }}
{% else %}
{{ audition.get_alt_description }}
{% endif %}
<hr />
{{ audition.event_details|safe }}
{% endblock %}

{% block extra_content %}
{% endblock %}


{% block sidebar_content %}

{% if audition.poster %}
<a href="{{ audition.poster.url }}" class="thumbnail colorbox">
    <img src="{{ audition.poster.url }}" alt="{{ audition.get_title }}" />
</a>
{% elif audition.production_company.logo %}
<a href="{{ audition.production_company.logo.url }}" class="thumbnail colorbox">
    <img src="{{ audition.production_company.logo.url }}" alt="{{ audition.production_company.name }}" />
</a>
{% endif %}

{% if audition.production_company %}
    {% with company=audition.production_company %}
        {% include 'snippets/sidebar/about_company.html' %}
    {% endwith %}
{% endif %}

{% if upcoming_auditions.exists %}
    {% include 'snippets/sidebar/active/upcoming_auditions.html' %}
{% endif %}

{% endblock %}
