<dt>
    <a href="{{ news.get_absolute_url }}">
        {% if news.external_url %}
            <i class="fa fa-external-link"></i>
        {% elif news.video_embed %}
            <i class="fa fa-video-camera"></i>
        {% elif news.newsslideshowimage_set.exists %}
            <i class="fa fa-image"></i>
        {% endif %}
        {{ news.title }}
    </a>
</dt>
<dd class="small"><em>Created on {{ news.created_on|date:"M. j" }} at {{ news.created_on|time:"g:ia" }}</em></dd>
<dd>{{ news.content|removetags:"img iframe br"|truncatewords_html:10|safe }} <a href="{{ news.get_absolute_url }}">Read&nbsp;more&nbsp;&raquo;</a></dd>
