{% load tz %}
<dt>
    <a href="{{ news.get_absolute_url }}">
        {% if news.is_job_opportunity %}
            <i class="fa fa-usd"></i>
        {% elif news.external_url %}
            <i class="fa fa-external-link"></i>
        {% elif news.video_embed %}
            <i class="fa fa-video-camera"></i>
        {% elif news.newsslideshowimage_set.exists %}
            <i class="fa fa-image"></i>
        {% endif %}
        {{ news.title }}
    </a>
</dt>
<dd class="small"><em>Created on {{ news.created_on|localtime|date:"M. j" }} at {{ news.created_on|localtime|time:"g:ia" }}</em></dd>
<dd class="nested">{{ news.content|striptags|truncatewords_html:10|safe }} <a href="{{ news.get_absolute_url }}">Read&nbsp;more&nbsp;&raquo;</a></dd>
