<div class="thumbnail production col-md-4 col-sm-4 col-lg-3">
    <div class="row">
        <div class="col-md-12">
            <h5 class="pull-left">{{ production.duration }}</h5>
            <a href="{% url 'productions_city' production.venue.address.city %}">
                <span class="pull-right label label-city">{{ production.venue.address.city }}</span>
            </a>
        </div>
    </div>
    <a href="{% url 'production_detail' slug=production.slug %}" class="tile">
        {% if production.poster %}
            <img src="{{ production.poster.url }}" alt="{{ production.title }}" />
        {% endif %}
        <h4>
            {{ production.play.title }}
            {% if production.production_company %}<br /><small>by {{ production.production_company }}</small>{% endif %}
        </h4>
    </a>
    {% if production.description or production.play.synopsis %}
    <div class="caption">
        {% if production.description %}
        <p>{{ production.description|truncatewords_html:25|striptags }}</p>
        {% elif production.play.synopsis %}
        <p>{{ production.play.synopsis|truncatewords_html:25|striptags }}</p>
        {% endif %}
    </div>
    {% if production.review_set.exists or production.externalreview_set.exists %}
    <div class="label-container">
        {% for review in production.review_set.all %}
        <a href="{% url 'review_detail' slug=review.slug %}" class="label label-review">CTX Live Theatre Review</a>
        {% endfor %}

        {% for review in production.externalreview_set.all %}
        <a href="{{ review.review_url }}" target="_blank" class="label label-external-review">Review by {{ review.source_name }}</a>
        {% endfor %}
    </div>
    {% endif %}
    {% endif %}
</div>
