<div class="module">
    <h4>About {{ company.name }}</h4>
    <small class="nested"><p>{{ company.description|striptags|truncatewords_html:30|safe }}</p></small>

    <p class="small">This company has:</p>
    <ul>
        {% if company.production_set.exists %}
        <li><a href="{% url 'company_productions' company.slug%}">{{ company.production_set.count }} production{{ company.production_set.count|pluralize }}</a></li>
        {% endif %}
        {% if company.published_reviews.exists %}
        <li><a href="{% url 'company_reviews' company.slug %}">{{ company.published_reviews.count }} review{{ company.published_reviews.count|pluralize }}</a></li>
        {% endif %}
        {% if company.audition_set.exists %}
        <li><a href="{% url 'company_auditions' company.slug %}">{{ company.audition_set.count }} casting call{{ company.audition_set.count|pluralize }}</a></li>
        {% endif %}
    </ul>
    <div class="text-right">
        <a href="{% url 'production_company' company.slug %}">Read more &raquo;</a>
    </div>
</div>
