{% extends 'base_internal.html' %}

{% block meta_title %}{{ news.title }}{% endblock %}
{% block meta_description %}{{ news.content|truncatewords_html:80|striptags }}{% endblock %}

{% block page_title %}{{ news.title }} | {% endblock %}
{% block body_classes %}section-news{% endblock %}

{% block admin_edit_link %}{% url 'admin:base_artsnews_change' news.id %}{% endblock %}

{% block main_title %}
<h2>{{ news.title }}</h2>
{% endblock %}

{% block article_content %}

{% if news.video_embed %}
<div class="video-embed">
    {{ news.video_embed|safe }}
</div>
{% elif news.newsslideshowimage_set.exists %}

<div id="news_slideshow" class="bxslider">
    {% for image in news.newsslideshowimage_set.all %}
    <div class="item">
        <a class="colorbox" href="{{ image.image.url }}">
            <img src="{{ image.image.url }}" alt="{{ image.image.name }}" class="no-caption"/>
        </a>
    </div>
    {% endfor %}
</div>
    
{% endif %}

{{ news.content|safe }}
{% if news.related_production %}
    <hr />
    {% with production=news.related_production %}
        {% include 'snippets/production_details.html' %}
    {% endwith %}
{% endif %}
{% endblock %}

{% block extra_content %}
{% endblock %}

{% block sidebar_content %}

{% if news.related_production %}

    {% if news.related_production.poster %}
    <a href="{% url 'production_detail' slug=news.related_production.slug %}" class="thumbnail">
        <img src="{{ news.related_production.poster.url }}" alt="{{ news.related_production.title }}" />
    </a>
    {% endif %}
    {% if news.related_production.production_company %}
        {% with company=news.related_production.production_company %}
            {% include 'snippets/sidebar/about_company.html' %}
        {% endwith %}
    {% endif %}

{% elif news.related_company %}

    {% if news.related_company.logo %}
    <a href="{{ news.related_company.logo.url }}" class="thumbnail colorbox">
        <img src="{{ news.related_company.logo.url }}" alt="{{ news.related_company.name }}" />
    </a>
    {% endif %}
    {% with company=news.related_company %}
        {% include 'snippets/sidebar/about_company.html' %}
        {% if company.production_set.filter_current.exists %}
            {% with company_productions=company.production_set.filter_current %}
                {% include 'snippets/sidebar/company_related/company_productions.html' %}
            {% endwith %}
        {% endif %}
    {% endwith %}

{% else %}

    {% if recent_reviews.exists %}
        {% include 'snippets/sidebar/active/recent_reviews.html' %}
    {% endif %}

    {% if current_productions.exists %}
        {% include 'snippets/sidebar/active/current_productions.html' %}
    {% endif %}

{% endif %}

{% if recent_news.exists %}
    {% include 'snippets/sidebar/active/recent_news.html' %}
{% endif %}


{% endblock %}
