{% extends 'base_internal.html' %}

{% block page_title %}News | {% endblock %}
{% block body_classes %}section-news{% endblock %}

{% block body_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{% block page_header %}CTX Arts News{% endblock %}</h2>
            </div>
        </div>

        <div class="row news-categories">
            <div class="col-sm-3 col-xs-12 text-center news-category">
                <a href="?category=opportunities">
                    <i class="fa fa-usd"></i> Job/Volunteer Opportunities
                </a>
            </div>
            <div class="col-sm-3 col-xs-12 text-center news-category">
                <a href="?category=videos">
                    <i class="fa fa-video-camera"></i> Videos
                </a>
            </div>
            <div class="col-sm-3 col-xs-12 text-center news-category">
                <a href="?category=slideshows">
                    <i class="fa fa-image"></i> Slideshows
                </a>
            </div>
            <div class="col-sm-3 col-xs-12 text-center news-category">
                <a href="?category=external">
                    <i class="fa fa-external-link"></i> External Links
                </a>
            </div>
        </div>

        <div class="row">
        {% for news in page.object_list %}
            <dl class="news-list col-lg-3 col-sm-4">
                {% include "snippets/news_dl_item.html" %}
            </dl>
        {% endfor %}
        </div>

        {% if page.has_other_pages %}
        <div class="row">
            <div class="pagination col-md-12 text-center">
                <div class="pull-left">
                    {% if page.has_previous %}
                    <a href="?page={{ page.previous_page_number }}">
                        <span class="glyphicon glyphicon-backward small"></span> Previous Page
                    </a>
                    {% endif %}
                </div>

                Page {{ page.number }} of {{ page.paginator.num_pages }}

                <div class="pull-right">
                    {% if page.has_next %}
                    <a href="?page={{ page.next_page_number }}">
                        Next Page <span class="glyphicon glyphicon-forward small"></span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}

</div>
{% endblock %}
