{% extends 'base_internal.html' %}

{% block meta_title %}{{ company.name }}{% endblock %}
{% block meta_description %}{{ company.description|truncatewords_html:80|striptags }}{% endblock %}

{% block page_title %}{{ company.name }} | {% endblock %}
{% block body_classes %}section-company{% endblock %}

{% block admin_edit_link %}{% url 'admin:base_productioncompany_change' company.id %}{% endblock %}

{% block main_title %}
<h2>{{ company.name }}</h2>
{% endblock %}

{% block article_content %}
{{ company.description|safe }}

{% if company.company_site %}
<p class="text-right"><em><a href="{{ company.company_site }}" target="_blank">Read more on their website &raquo;</a></em></p>
{% endif %}

{% if company.contact_info %}
<hr />
<h3>Contact Information</h3>
{{ company.contact_info|safe }}
{% endif %}

{% if company.home_venues.exists %}
    <hr />
    {% for venue in company.home_venues.all %}
        <address>
            <strong>{{ venue.name }}</strong><br />
            {{ venue.address.line_1 }}<br />
            {% if venue.address.line_2 %}{{ venue.address.line_2 }}<br />{% endif %}
            {{ venue.address.city }}, TX, {{ venue.address.zip_code }}
        </address>
    {% endfor %}
{% endif %}

{% endblock %}

{% block sidebar_content %}

{% block main_image %}
{% if company.logo %}
    <a href="{{ company.logo.url }}" class="thumbnail colorbox">
        <i class="fa fa-search-plus"></i>
        <img src="{{ company.logo.url }}" alt="{{ company.name }}" />
    </a>
{% endif %}
{% endblock %}


{% if company.production_set.exists %}
    {% with company_productions=company.production_set.all|slice:":4" %}
        {% include 'snippets/sidebar/company_related/company_productions.html' %}
    {% endwith %}
{% endif %}

{% if company.audition_set.exists %}
    {% with company_auditions=company.audition_set.all|slice:":4" %}
        {% include 'snippets/sidebar/company_related/company_auditions.html' %}
    {% endwith %}
{% endif %}

{% if company.published_reviews.exists %}
    {% with company_reviews=company.published_reviews.all|slice:":4" %}
        {% include 'snippets/sidebar/company_related/company_reviews.html' %}
    {% endwith %}
{% endif %}

{% if related_news %}
    {% include 'snippets/sidebar/related_news.html' %}
{% endif %}
{% endblock %}

{% block extra_content %}
{% endblock %}
