{% extends 'base_internal.html' %}

{% block page_title %}Productions | {% endblock %}
{% block body_classes %}section-productions{% endblock %}

{% block body_id %}productions{% endblock %}

{% block body_content %}
    <div class="container">
        <div class="row">
            <h2>{% block main_title %}{% endblock %}</h2>
            {% block search_options %}
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <p>
                            <a href="{% url 'productions_upcoming' %}">Upcoming</a> |
                            <a href="{% url 'productions_current_month' %}">Monthly</a> |
                            <a href="{% url 'productions_current_week' %}">Weekly</a> |
                            <a href="{% url 'productions_city' %}">By City</a>
                        </p>
                    </div>
                    <div class="pull-right">{% block extra_details %}{% endblock %}</div>
                </div>
            </div>
            {% endblock %}
        </div>
        <div class="row">
            {% for production in productions %}
                {% include "snippets/production_tile.html" %}
            {% endfor %}
        </div>
        {% block pagination %}
        <div class="row">
            <div class="pull-left">{% block previous_page %}{% endblock %}</div>
            <div class="pull-right">{% block next_page %}{% endblock %}</div>
        </div>
        {% endblock %}
    </div>
{% endblock %}

{% block extra_content %}{% endblock %}
