{% extends 'base_internal.html' %}

{% block body_classes %}section-productions{% endblock %}

{% block admin_edit_link %}{% url 'admin:base_production_change' production.id %}{% endblock %}

{% block main_title %}
<h2>
{{ production.play.title }}
{% if production.production_company %}
<br /><small>by <a href="{% url 'production_company' slug=production.production_company.slug %}">{{ production.production_company.name }}</a></small>
{% endif %}
</h2>
{% endblock %}

{% block main_terciary_title %}
<h3>{{ production.duration }}</h3>

{% if production.review_set.exists %}
<div class="label-container">
    {% for review in production.review_set.all %}
    <a href="{% url 'review_detail' slug=review.slug %}" class="label label-review">CTX Live Theatre Review</a>
    {% endfor %}
</div>
{% endif %}

{% if production.externalreview_set.exists %}
<div class="label-container">
    {% for review in production.externalreview_set.all %}
    <a href="{{ review.review_url }}" target="_blank" class="label label-external-review">Review by {{ review.source_name }}</a>
    {% endfor %}
</div>
{% endif %}

{% endblock %}

{% block article_content %}
{{ production.description|safe }}

<hr />

{% with address=production.venue.address %}
<address>
    <strong>
    {% if address.venue.map_url %}
        <a href="{{ address.venue.map_url }}" target="_blank">{{ address.venue }}</a>
    {% else %}
        {{ address.venue }}
    {% endif %}
    </strong><br />
    {{ address.line_1 }}<br />
    {% if address.line_2 %}{{ address.line_2 }}<br />{% endif %}
    {{ address.city }}, TX, {{ address.zip_code }}
</address>
{% endwith %}

{{ production.event_details|safe }}

{% endblock %}

{% block extra_content %}
{% endblock %}

{% block sidebar_content %}

{% block main_image %}
{% if production.poster %}
<a href="{{ production.poster.url }}" class="thumbnail colorbox">
    <img src="{{ production.poster.url }}" alt="{{ production.title }}" />
</a>
{% endif %}
{% endblock %}

{% if current_productions.exists %}
<div class="module">
    <h4>Current Productions</h4>
    <ul>
        {% for upcoming in current_productions %}
        <li><a href="{% url 'production_detail' upcoming.slug %}">{{ upcoming.title }}</a></li>
        {% endfor %}
    </ul>
    <div class="text-right">
        <a href="{% url 'productions_upcoming' %}">See more &raquo;</a>
    </div>
</div>
{% endif %}

{% if company_productions.exists %}
<div class="module">
    <h4>Other Productions by {{ production.production_company }}</h4>
    <ul>
        {% for company_production in company_productions %}
        <li><a href="{% url 'production_detail' company_production.slug %}">{{ company_production.title }}</a></li>
        {% endfor %}
    </ul>
    <div class="text-right">
        <a href="{% url 'company_productions' production.production_company.slug %}">See More &raquo;</a>
    </div>
</div>
{% endif %}

<div class="module">
    <h4>News</h4>
    <ul>
        {% for news_item in recent_news %}
        <li><a href="{{ news_item.get_absolute_url }}">{{ news_item.title }}</a></li>
        {% endfor %}
    </ul>
    <div class="text-right">
        <a href="{% url 'news_list' %}">See More &raquo;</a>
    </div>
</div>

{% endblock %}
